@import url(../../assets/fonts/stylesheet.css);
@import 'nullstyle';

body {
  font-family: 'TT Lakes', sans-serif;
  background: #F8F8F8;
  color: #1B1C21;
  width: 320px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.btn {
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  padding: 10px;
  border-radius: 50%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 24px;
  height: 100%;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  &-header {
    display: flex;
    height: 88px;
    align-items: center;
    &__logo {
      margin-right: auto;
      margin-left: 16px;
    }
    &__search-button {
      margin-left: auto;
    }
  }
  &-list {
    margin-top: 28px;
    &__item {
      position: relative;
      margin-bottom: 32px;
      &:hover, &:active {
        color: #7E7E82;
        &::before {
          content: '';
          position: absolute;
          top: 8px;
          left: -40px;
          width: 32px;
          height: 8px;
          background: #41F6D7;
          border-radius: 4px;
          transform: rotate(90deg);
        }
      }
    }
  }
  &-contacts {
    margin-top: auto;
    margin-bottom: 40px;
    &__btns-container {
      display: flex;
      margin-bottom: 16px;
    }
    &__link {
      margin-right: 16px;
    }
    &__mail {
      display: block;
      margin-bottom: 12px;
    }
    &__tel {
      display: block;
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
      letter-spacing: -0.6px;
    }
  }
  &-language-switch {
    margin-bottom: 32px;
    &__btn {
      background-color: transparent;
      margin-right: 7px;
      &:hover, &:active {
        color: #7E7E82;
      }
    }
  }
}