@charset "UTF-8";
@import url(../../assets/fonts/stylesheet.css); /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: revert;
}

.visually-hidden {
  display: none;
}

/*--------------------*/
body {
  font-family: "TT Lakes", sans-serif;
  background: #F8F8F8;
  color: #1B1C21;
  width: 320px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.btn {
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  padding: 10px;
  border-radius: 50%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 24px;
  height: 100%;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}
.menu-header {
  display: flex;
  height: 88px;
  align-items: center;
}
.menu-header__logo {
  margin-right: auto;
  margin-left: 16px;
}
.menu-header__search-button {
  margin-left: auto;
}
.menu-list {
  margin-top: 28px;
}
.menu-list__item {
  position: relative;
  margin-bottom: 32px;
}
.menu-list__item:hover, .menu-list__item:active {
  color: #7E7E82;
}
.menu-list__item:hover::before, .menu-list__item:active::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -40px;
  width: 32px;
  height: 8px;
  background: #41F6D7;
  border-radius: 4px;
  transform: rotate(90deg);
}
.menu-contacts {
  margin-top: auto;
  margin-bottom: 40px;
}
.menu-contacts__btns-container {
  display: flex;
  margin-bottom: 16px;
}
.menu-contacts__link {
  margin-right: 16px;
}
.menu-contacts__mail {
  display: block;
  margin-bottom: 12px;
}
.menu-contacts__tel {
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.6px;
}
.menu-language-switch {
  margin-bottom: 32px;
}
.menu-language-switch__btn {
  background-color: transparent;
  margin-right: 7px;
}
.menu-language-switch__btn:hover, .menu-language-switch__btn:active {
  color: #7E7E82;
}